:root {
  prefers-color-scheme: dark;
}

body {
  font-family: Rajdhani;
}

#SoundButton {
  grid-column-start: 4;
}

#timpImage {
  grid-column-start: 1;
  grid-column: span 2;
}

img {
  max-height: 150px;
}
